*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.content-wrapper{
    width: 60%;
    margin: 0 auto;
}

header{
    background-color: #1F2932;
    padding-bottom: 50px;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

nav div a{
    font-size: 24px;
    color: #F9FAF8;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

header nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

header nav ul li a{
    color: #F9FAF8;
    text-decoration: none;
    cursor: pointer;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    gap: 30px;
}

.content-left{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 50%;
}

.content-left h1{
    color: #F9FAF8;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.content-left p{
    font-size: 18px;
    color: #F9FAF8;
    line-height: 1.3;
}

.content-left button{
    background-color: #3882F6;
    padding: 8px 24px;
    color: #F9FAF8;
    align-self: flex-start;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.2s;
}


.content-left button:hover{
    background-color: #F9FAF8;
    color: #3882F6;
    transform: translateY(-5px);
    cursor: pointer;
}



.header-img{
    height: 200px;
    width: 400px;
}

section.progress{
    height: 350px;
}

section .h1-progress{
    text-align: center;
    margin: 40px 0;
} 

.learning-container{
    display: flex;
    justify-content: center;
    gap: 35px;
}

.learning-container div{
    width: 150px;
    height: 150px;
}

.learning-container img{
    max-width: 100%;
    max-height: 100%;
    border: 3px solid #3882F6;
    border-radius: 20px;
}

.learning-container p{
    text-align: center;
}

section.grey-bg{
    background-color: #E5E7EB;
    height: 350px;
}

.grey-bg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grey-bg p:nth-child(1){
    text-align: left;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
}

.grey-bg p:nth-child(2){
    text-align: right;
    font-weight: 800;
}

section.bg-blue{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .call-to-action{
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 100%;
    padding: 0 100px;
    border-radius: 15px;
    gap: 30px;
}

section .call-to-action .action-text{
    width: 65%;
}

section .call-to-action .action-text h2, section .call-to-action .action-text p{
    color: #F9FAF8;
    line-height: 1.2;
}

section .call-to-action .action-text h2{
    margin-bottom: 10px;
    font-size: 20px;
}

section .call-to-action button{
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 8px 24px;
    font-weight: bold;
    border: 2px solid #F9FAF8;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

section .call-to-action button:hover{
    background-color: #F9FAF8;
    color: #3882F6;
    transform: translateY(-5px);
}

footer{
    height: 50px;
    background-color: #1F2932;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

@media only screen and (max-width: 400px) {
    .content-wrapper nav ul{
        display: none;
    }

    .content-wrapper{
        width: 90%;
    }

    .content-wrapper nav{
        justify-content: center;
    }

    .header-content{
        flex-direction: column;
        gap: 50px;
    }

    .header-content .content-left{
        max-width: 100%;
    }

    .header-content .content-left h1{
        text-align: center;
    }

    .header-content .content-left p{
        text-align: center;
    }

    .header-content .content-left button{
        margin: 0 auto;
    }

    .learning-container{
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px 50px;
    }

    section.progress{
        height: 450px;
    }

    .learning-container div{
        width: 100px;
        height: 100px;
    }

    .content-wrapper .call-to-action h2{
        text-align: center;
    }

    .content-wrapper .call-to-action p{
        text-align: center;
            
    }

    .content-wrapper .call-to-action{
        padding: 30px;
        width: 100%;
        flex-direction: column;
    }

    .header-img{
        height: 200px;
        width: 100%;
    }

    .grey-bg .content-wrapper{
        padding: 20px;
    }

    .grey-bg .content-wrapper p{
        font-size: 32px;
    }

    .grey-bg .content-wrapper p:nth-child(2){
        font-size: 18px;
    }

}


